In [5]:
print("hello world")

hello world

In [3]:
import pandas as pd
import numpy as np

data = pd.read_csv('./weather_data.csv')
data

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [6]:
rows, columns = data.shape
rows
columns

4

In [10]:
data.tail(1)

        day  temperature  windspeed  event
5  1/6/2017           31          2  Sunny

In [14]:
data.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [15]:
data.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [16]:
type(data['event'])

pandas.core.series.Series

In [17]:
data[['event', 'day']]

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [19]:
data['temperature'].max()

35

In [37]:
data.describe([.25, .5, .75],include='all', datetime_is_numeric=True)

             day  temperature  windspeed event
count          6     6.000000   6.000000     6
unique         6          NaN        NaN     3
top     1/1/2017          NaN        NaN  Rain
freq           1          NaN        NaN     2
mean         NaN    30.333333   4.666667   NaN
std          NaN     3.829708   2.338090   NaN
min          NaN    24.000000   2.000000   NaN
25%          NaN    28.750000   2.500000   NaN
50%          NaN    31.500000   5.000000   NaN
75%          NaN    32.000000   6.750000   NaN
max          NaN    35.000000   7.000000   NaN

In [48]:
data['day'][data['temperature']>32]

1    1/2/2017
Name: day, dtype: object

In [49]:
data.index

RangeIndex(start=0, stop=6, step=1)

In [62]:
newdata = data.set_index('day')

In [63]:
newdata
# newdata.loc['1/3/2017']
newdata.reset_index(inplace=True)
newdata

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
newdata